@import "src/shared/styles/mixins/media-queries";

.main-page {
  height: 100%;
  display: flex;

  &__sidebar {
    width: 42rem;

    @include tablet {
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: var(--white);

    @include tablet {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      transform: translateX(100%);
      transition: 0.3s;
    }

    &--has-content {
      @include tablet {
        transform: translateX(0);
      }
    }
  }
}
