.base-button {
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  appearance: none;
  color: var(--black);
  transition: color 100ms linear, background-color 100ms linear;
  font-size: 1.6rem;
  line-height: 100%;
  position: relative;
  border: 0.1rem solid transparent;

  &--block {
    display: flex;
    flex-shrink: 1;
    width: 100%;
  }

  &--size {
    &_default {
      padding: 0.9rem 2rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }

    &_small {
      padding: 0.5rem 2rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &_medium {
      padding: 1.3rem 2.5rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }

    &_large {
      padding: 1.8rem 3.5rem;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  &--color {
    &_dark-blue {
      background: var(--dark-blue);
      color: var(--white);
      border-color: var(--dark-blue);

      &:hover:not(:disabled) {
        background: var(--dark-blue-lighten);
        border-color: var(--dark-blue-lighten);
      }

      &:active:not(:disabled) {
        background: var(--dark-blue-darken);
        border-color: var(--dark-blue-darken);
      }
    }

    &_red {
      background: var(--red);
      color: var(--white);
      border-color: var(--red);

      &:hover:not(:disabled) {
        background: var(--red-lighten);
        border-color: var(--red-lighten);
      }

      &:active:not(:disabled) {
        background: var(--red-darken);
        border-color: var(--red-darken);
      }
    }
  }

  &--outline.base-button--color_dark-blue {
    background: var(--white);
    color: var(--dark-blue);

    &:hover:not(:disabled) {
      background: var(--white);
      color: var(--dark-blue-lighten);
    }

    &:active:not(:disabled) {
      background: var(--white);
      color: var(--dark-blue-darken);
    }
  }

  &--outline.base-button--color_red {
    background: var(--white);
    color: var(--red);

    &:hover:not(:disabled) {
      background: var(--white);
      color: var(--red-lighten);
    }

    &:active:not(:disabled) {
      background: var(--white);
      color: var(--red-darken);
    }
  }

  &--disabled {
    cursor: not-allowed;
    filter: contrast(0.5);
    outline: 0;
  }

  &--loading {
    pointer-events: none;
  }

  &--font-weight {
    &_400 {
      font-weight: 400;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &--border-radius {
    &_default {
      border-radius: var(--border-radius);
    }

    &_small {
      border-radius: var(--border-radius-small);
    }

    &_medium {
      border-radius: var(--border-radius-medium);
    }

    &_large {
      border-radius: var(--border-radius-large);
    }
  }

  &__content {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    transition: inherit;
    color: inherit;
  }

  &--loading &__content {
    opacity: 0;
  }

  &__loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      animation: rotate360 2s linear infinite;
    }
  }
}
