@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes show-main-content {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
