* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #c6cce2 rgba(#d4daec, 0.5);
}

html {
  height: 100%;
  font-size: 10px;
}

body,
#root,
.app {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: rgba(#d4daec, 0.5);
  border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb {
  background: #c6cce2;
  border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: darken(#c6cce2, 10%);
}

body {
  &::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
  }
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.required::after {
  content: "*";
  display: inline;
}

:root {
  --header-height: 6rem;
  --field-height: 5.6rem;

  --white: #ffffff;
  --black-darken: hsl(0, 0%, 0%);
  --black: #1a1a1a;
  --black-lighten: hsl(0, 0%, 20%);
  --dark-gray: #63677c;
  --gray: #8b8fa4;
  --extra-light-gray: #d4daec;
  --lightest-gray: #f8fafb;
  --dark-blue-darken: hsl(230, 58%, 27%);
  --dark-blue: #283a97;
  --dark-blue-lighten: hsl(230, 58%, 47%);
  --blue: #00aeef;
  --light-blue: #00e0ff;
  --purple: #6e56ff;
  --light-purple: #a4b1de;
  --extra-light-purple: #e9eeff;
  --sea-wave: #00c4d0;
  --green: #00d085;
  --light-green: #b9f8d6;
  --red-darken: hsl(0, 100%, 52%);
  --red: #ff3d3d;
  --red-lighten: hsl(0, 100%, 72%);
  --light-red: #ffc9c9;
  --orange: #ff9900;
  --light-orange: #ffedca;
  --extra-light-orange: #fff9ed;

  --border-radius-large: 2rem;
  --border-radius-medium: 1rem;
  --border-radius: 0.6rem;
  --border-radius-small: 0.4rem;

  --mobile-small: 320px;
  --mobile-medium: 375px;
  --mobile-large: 4800px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop-small: 1248px;
  --desktop-medium: 1366px;
  --desktop-large: 1440px;
  --desktop-x-large: 1600px;
  --desktop-xx-large: 1920px;

  /* Z-INDEX */
  --z-index-base-popup: 600;

  // USERS EMPTY AVATAR BG
  --user-avatar-empty-red-top: #ff885e;
  --user-avatar-empty-red-bottom: #ff516a;
  --user-avatar-empty-orange-top: #ffcd6a;
  --user-avatar-empty-orange-bottom: #ffa85c;
  --user-avatar-empty-violet-top: #82b1ff;
  --user-avatar-empty-violet-bottom: #665fff;
  --user-avatar-empty-green-top: #a0de7e;
  --user-avatar-empty-green-bottom: #54cb68;
  --user-avatar-empty-cyan-top: #53edd6;
  --user-avatar-empty-cyan-bottom: #28c9b7;
  --user-avatar-empty-blue-top: #72d5fd;
  --user-avatar-empty-blue-bottom: #2a9ef1;
  --user-avatar-empty-pink-top: #e0a2f3;
  --user-avatar-empty-pink-bottom: #d669ed;
}
